# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
media/
static_root/

# Mac
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Zip
*.zip
